Repository arana-db/arana, pull requests merged in 2023-06, with the labels that each got.

#680 feat: add support for REPAIR sql stmt
  go.mod
  go.sum
  pkg/executor/redirect.go
  pkg/runtime/ast/ast.go
  pkg/runtime/ast/proto.go
  pkg/runtime/ast/repair_table.go
  pkg/runtime/ast/show.go
  pkg/runtime/optimize/ddl/repair_table.go
  pkg/runtime/plan/ddl/repair_table.go
  test/integration_test.go
Labels: SQL

#662 clean arana project log output
  conf/bootstrap.local-etcd.yaml
  conf/bootstrap.yaml
  pkg/boot/boot.go
  pkg/config/misc.go
  pkg/config/model.go
  pkg/runtime/namespace/command.go
  pkg/util/log/logging.go
  testdata/fake_bootstrap.yaml
Labels: config

#689 feature: support show database rule from
  go.mod
  go.sum
  pkg/boot/boot.go
  pkg/boot/watcher.go
  pkg/executor/redirect.go
  pkg/mysql/thead/thead.go
  pkg/proto/rule/rule.go
  pkg/runtime/ast/ast.go
  pkg/runtime/ast/proto.go
  pkg/runtime/ast/show.go
  pkg/runtime/optimize/dal/show_database_rule.go
  pkg/runtime/plan/dal/show_database_rules.go
  pkg/runtime/plan/dal/show_database_rules_test.go
  test/integration_test.go
Labels: do not merge, SQL

#671 feat: Auto clean transaction log
  conf/config.yaml
  integration_test/config/db/config.yaml
  integration_test/config/db_tbl/config.yaml
  integration_test/config/db_tbl_rw/config.yaml
  integration_test/config/tbl/config.yaml
  pkg/config/api.go
  pkg/config/config_reader.go
  pkg/config/config_test.go
  pkg/config/model.go
  pkg/config/path.go
  pkg/runtime/tenant/tenant.go
  pkg/runtime/transaction/trx_log.go
  pkg/runtime/transaction/trx_manager.go
  testdata/fake_config.yaml
Labels: transaction

#693 fix:select from table not exist cause panic
  pkg/constants/mysql/constants.go
  pkg/runtime/optimize/dml/select.go
Labels: bug
