Repository arana-db/arana, pull requests merged in 2023-07, with the labels that each got.

#690 add unit test for conn_pool.go and tx.go
  pkg/runtime/conn_pool_test.go
  pkg/runtime/tx_test.go
Labels: test

#697 chore: add git-cliff configs
  .github/workflows/changelog.yml
  CHANGELOG.md
  cliff.toml
Labels: release

#716 feat: upgrade go version to 1.20
  .github/workflows/go-integration.yml
  .github/workflows/go.yml
  .github/workflows/release.yml
  .github/workflows/reviewdog.yml
  .golangci.yml
  .pre-commit-config.yaml
  README.md
  README_CN.md
  README_ZH.md
  go.mod
  go.sum
  pkg/config/etcd/etcd_test.go
  pkg/config/misc.go
  pkg/mysql/client.go
  pkg/mysql/utils.go
  pkg/runtime/calc/logic/logic.go
  pkg/runtime/function/cast_char.go
  pkg/selector/weight_random.go
  pkg/util/bytefmt/bytefmt.go
  pkg/util/bytesconv/bytesconv_test.go
  pkg/util/charsetconv/charsetconv.go
  pkg/util/log/logging.go
  pkg/util/rand2/rand2.go
Labels: CI/CD

#723 feat(test): add unit test for cast function
  pkg/runtime/function/cast_decimal_test.go
  pkg/runtime/function/cast_time.go
  pkg/runtime/function/cast_time_test.go
  pkg/runtime/function/ceil_test.go
  pkg/runtime/function/char_length_test.go
  pkg/runtime/function/concat_test.go
Labels: test

#725 feat(test): add unit test for function
  pkg/runtime/function/concat_ws_test.go
  pkg/runtime/function/cume_dist_test.go
  pkg/runtime/function/dense_rank_test.go
Labels: test
